<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReplyDAO">

<resultMap type="reply" id="replyResult">
	<id property="replyseq" column="REPLYSEQ"/>
	<result property="boardseq" column="BOARDSEQ"/>
	<result property="writer" column="WRITER"/>
	<result property="content" column="CONTENT"/>
	<result property="regdate" column="REGDATE"/>
</resultMap>

<!-- 댓글 리스트 -->
<select id="replyList" resultMap="replyResult">
	SELECT * FROM REPLY WHERE BOARDSEQ =#{boardseq}
</select>

<!-- 댓글 입력 -->
<insert id="insertreply">
	INSERT INTO REPLY (BOARDSEQ,WRITER,CONTENT) VALUES (#{boardseq},#{writer},#{content})
</insert>

<!-- 댓글 수정 -->
<update id="updatereply">
	UPDATE REPLY SET CONTENT=#{content} WHERE REPLYSEQ =#{replyseq}
</update>

<!-- 댓글 삭제 -->
<delete id="deletereply">
	DELETE FROM REPLY WHERE REPLYSEQ = #{replyseq}
</delete>

<!-- 댓글 보기 -->
<select id="selectreply" resultType="reply" parameterType="reply">
	SELECT * FROM REPLY WHERE REPLYSEQ =#{replyseq}
</select>

<!-- 작성한 댓글 개수 -->
<select id="replyCount" resultType="int">
	SELECT COUNT(*) FROM REPLY WHERE WRITER=#{writer}
</select>
</mapper>
